body {
  font-family: "Arial", sans-serif;
  background-color: #f2ead3;
  color: #543d30;
}

h1,
h2,
h3 {
  color: #543d30;
}

.navbar {
  background-color: #c08040;
}

.navbar-nav .nav-link {
  color: #543d30;
}

.navbar-nav .nav-link:hover {
  color: #795548;
}

.navbar-toggler {
  border-color: #543d30;
}

.navbar-toggler-icon {
  background-color: #543d30;
}

.navbar.bg-body-tertiary {
  background-color: #c08040 !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #543d30;
}

.navbar-brand img {
  height: 2.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #e9d8a6;
  color: #543d30;
}

.card {
  border: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: #543d30;
}

.card-img-top {
  border-radius: 0.25rem;
  object-fit: cover;
  height: 200px;
}

.btn-primary,
.btn-secondary {
  color: white;
  background-color: #c08040;
  border-color: #c08040;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #a06020;
  border-color: #a06020;
}

footer {
  background-color: #c08040;
  padding: 1rem 0;
  border-top: 1px solid #dee2e6;
  color: #543d30;
}

/* Media query pour écrans plus grands (ordinateurs) */
@media (min-width: 992px) {
  .text-lg-start {
    text-align: left !important;
  }
  .text-lg-end {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

/* Media query pour écrans encore plus grands */
@media (min-width: 1200px) {
  .card-img-top {
    height: 250px;
  }
}
