<%- include('./partials/header') %>

<main>
  <h1>500 - Erreur serveur</h1>

  <p>Une erreur est survenue.<p>
  <p>Merci de bien vouloir réessayer plus tard.</p>
  <p><a href="/">L'accueil est par ici.</a></p>
  
</main>

<%- include('./partials/footer') %>