<%- include('./partials/header') %>

    <main class="container mt-5">
      <div class="row">
        <div class="col-12">
          <img
            src="/assets/coffees/100955890.png"
            alt="Espresso"
            class="img-fluid rounded mx-auto d-block product-image mb-5"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-9 product-info">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h2>Espresso</h2>
              <p class="text-muted">Publié le 21/02/2025</p>
              <p>Description : Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
              <p>Référence : 100955890</p>
              <p>Origine : Italie</p>
              <p>Prix au kilo : 20.99 €</p>
              <p>Caractéristique principale : Corsé</p>
              <p>Disponible : Oui</p>
              <div class="mt-4">
                <a href="./catalog" class="btn btn-primary">Catalogue</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
