<%- include('./partials/header') %>

<main class="container mt-5">
  <h2>Nouveaux produits ajoutés</h2>

  <ul>
    <% files.forEach(file => { %>
    <li><a href="/uploads/<%= file %>" target="_blank"><%= file %></a></li>
    <% }) %>
  </ul>
</main>

<%- include('./partials/footer') %>
