body {
  font-family: "Arial", sans-serif;

  background-color: #f2ead3;

  color: #543d30;

  display: flex;

  flex-direction: column;

  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  color: #543d30;
}

.navbar {
  background-color: #c08040;
}

.navbar-nav .nav-link {
  color: #543d30;
}

.navbar-nav .nav-link:hover {
  color: #795548;
}

.navbar-toggler {
  border-color: #543d30;
}

.navbar-toggler-icon {
  background-color: #543d30;
}

.navbar.bg-body-tertiary {
  background-color: #c08040 !important;
}

.navbar-brand {
  font-size: 2rem;

  font-weight: bold;

  color: #543d30;
}

.navbar-brand img {
  height: 2.5rem;
}

.jumbotron {
  position: relative;

  background-color: #e9d8a6;

  color: #543d30;

  padding: 2rem 1rem;

  text-align: center;

  overflow: hidden;

  height: 400px;
}

.jumbotron-image-wrapper {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 1;
}

.jumbotron-image {
  width: 100%;

  height: 100%;

  object-fit: cover;

  opacity: 0.6;
}

.jumbotron-text {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 2;

  color: white;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron .display-4 {
  font-size: 3rem;

  font-weight: bold;

  margin-bottom: 1rem;
}

.jumbotron .lead {
  font-size: 1.25rem;
}

.card {
  border: none;

  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);

  background-color: #fff;

  color: #543d30;

  display: flex;

  flex-direction: column;

  height: 100%;
}

.card-body {
  display: flex;

  flex-direction: column;

  flex-grow: 1;

  padding: 0.5rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text {
  flex-grow: 1;

  margin-bottom: 0.5rem;
}

.card-img-top {
  border-radius: 0.25rem;

  object-fit: cover;

  height: 200px;
}

.btn-primary,
.btn-secondary {
  color: white;

  background-color: #c08040;

  border-color: #c08040;

  align-self: flex-start;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #a06020;

  border-color: #a06020;
}

.col-md-6 img {
  border-radius: 0.25rem;
}

.col-md-6 h2 {
  margin-bottom: 1rem;
}

.product-image {
  max-height: 60vh;

  width: auto;

  max-width: 100%;
}

.product-info {
  margin-left: 12.5%;
}

footer {
  background-color: #c08040;

  padding: 1rem 0;

  border-top: 1px solid #dee2e6;

  color: #543d30;
}

.error-404 {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExODB3eDhqNDNoZzU2Y2JpOGx2YnZ1MG9sdTk3MmlzZHNtczU2cWx2dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7btW7VDxqrhJEnqE/giphy.gif");

  background-size: auto;

  background-position: center;

  background-repeat: repeat;
}

.custom-card-height {
  max-height: 100px;

  overflow: hidden;
}

.table.table-bordered td,
.table.table-bordered th {
  color: #543d30 !important;
}

/* Media query pour les écrans de taille moyenne (tablettes) */

@media (min-width: 768px) {
  .jumbotron-image {
    height: 500px;
  }
}

/* Media query pour écrans plus grands (ordinateurs) */

@media (min-width: 992px) {
  .text-lg-start {
    text-align: left !important;
  }

  .text-lg-end {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }

  .jumbotron-image {
    height: 600px;
  }
}

/* Media query pour écrans encore plus grands */

@media (min-width: 1200px) {
  .jumbotron-image {
    height: 700px;
  }
}
